Repository econominhas/backend: changes, and which lint-staged commands are due for each by the changed paths.
All: bash -c "yarn lint:openapi", bash -c "yarn openapi:postman", bash -c "yarn lint:prisma", bash -c "yarn lint:ts", bash -c "yarn lint:code"

.lintstagedrc:

{
	"openapi/**/*": [
		"bash -c \"yarn lint:openapi\"",
		"bash -c \"yarn openapi:postman\""
	],
	"prisma/**/*": "bash -c \"yarn lint:prisma\"",
	"src/**/*": ["bash -c \"yarn lint:ts\"", "bash -c \"yarn lint:code\""]
}

refactoring in test cases
  tests/src/usecases/budget.spec.ts
Due: none

adjust expects of overview and adjust dates of budgetDates
  tests/src/usecases/budget.spec.ts
Due: none

test negative budgets and expenses by category
  tests/src/usecases/budget.spec.ts
Due: none

Add unit tests to budget module (#37)
  src/usecases/budget/budget.service.ts
  tests/mocks/adapters/dayjs.ts
  tests/mocks/repositories/postgres/budget.ts
  tests/mocks/repositories/postgres/category.ts
  tests/mocks/repositories/postgres/transaction.ts
  tests/mocks/usecases/account.ts
  tests/src/usecases/budget.spec.ts
Due: bash -c "yarn lint:ts", bash -c "yarn lint:code"

Update .env.example
  .env.example
Due: none

application setup instructions in the readme (#34)
  README.md
Due: none

remove vr
  openapi/components/fields/card-network.yaml
  openapi/components/fields/card-type.yaml
  openapi/paths/wallet/balance.yaml
  prisma/migrations/20240318232827_delete_vr/migration.sql
  prisma/schema.prisma
  prisma/seeds/data/card-providers/va/alelo.ts
  prisma/seeds/data/card-providers/va/pluxee.ts
  prisma/seeds/data/card-providers/va/ticket.ts
  prisma/seeds/data/card-providers/va/vr.ts
  src/models/card.ts
  src/models/wallet.ts
  src/repositories/postgres/card/card-repository.service.ts
  src/usecases/wallet/wallet.service.ts
Due: bash -c "yarn lint:openapi", bash -c "yarn openapi:postman", bash -c "yarn lint:prisma", bash -c "yarn lint:ts", bash -c "yarn lint:code"

feat: changing jwt to paseto
  .env.example
  package.json
  src/adapters/implementations/paseto/token.module.ts
  src/adapters/implementations/paseto/token.service.ts
  src/adapters/token.ts
  src/config.ts
  src/delivery/guards/auth.guard.ts
  src/main.ts
  src/repositories/postgres/refresh-token/refresh-token-repository.module.ts
  src/repositories/postgres/refresh-token/refresh-token-repository.service.ts
  src/usecases/auth/auth.module.ts
  src/usecases/auth/auth.service.ts
  tests/mocks/adapters/token.ts
  tests/mocks/config.ts
  tests/mocks/libs/jsonwebtoken.ts
  tests/mocks/libs/paseto.ts
  tests/src/adapters/jwt.spec.ts
  tests/src/adapters/paseto.spec.ts
  yarn.lock
Due: bash -c "yarn lint:ts", bash -c "yarn lint:code"

remove vr (#38)
  openapi/components/fields/card-network.yaml
  openapi/components/fields/card-type.yaml
  openapi/paths/wallet/balance.yaml
  prisma/migrations/20240318232827_delete_vr/migration.sql
  prisma/schema.prisma
  prisma/seeds/data/card-providers/va/alelo.ts
  prisma/seeds/data/card-providers/va/pluxee.ts
  prisma/seeds/data/card-providers/va/ticket.ts
  prisma/seeds/data/card-providers/va/vr.ts
  src/models/card.ts
  src/models/wallet.ts
  src/repositories/postgres/card/card-repository.service.ts
  src/usecases/wallet/wallet.service.ts
Due: bash -c "yarn lint:openapi", bash -c "yarn openapi:postman", bash -c "yarn lint:prisma", bash -c "yarn lint:ts", bash -c "yarn lint:code"

requested modifications - pr
  package.json
  prisma/schema.prisma
  src/adapters/implementations/paseto/token.service.ts
  src/config.ts
  src/delivery/guards/auth.guard.ts
  tests/mocks/libs/paseto.ts
Due: bash -c "yarn lint:prisma", bash -c "yarn lint:ts", bash -c "yarn lint:code"

add template for pr
  .github/workflows/pull_request_template.md
Due: none

cd template pr
  .github/pull_request_template.md
Due: none

Add queue system
  package.json
  src/adapters/implementations/sns-sms/sns.module.ts
  src/adapters/implementations/sns-sms/sns.service.ts
  src/adapters/implementations/sns/sns.module.ts
  src/adapters/implementations/sns/sns.service.ts
  src/adapters/implementations/sqs/sqs.module.ts
  src/adapters/implementations/sqs/sqs.service.ts
  src/adapters/queue.ts
  src/adapters/topic.ts
  src/usecases/auth/auth.module.ts
  src/usecases/auth/auth.service.ts
  tests/mocks/adapters/sms.ts
  tests/mocks/adapters/topic.ts
  tests/src/usecases/auth.spec.ts
  yarn.lock
Due: bash -c "yarn lint:ts", bash -c "yarn lint:code"

feat: Add queue system (#41)
  package.json
  src/adapters/implementations/sns-sms/sns.module.ts
  src/adapters/implementations/sns-sms/sns.service.ts
  src/adapters/implementations/sns/sns.module.ts
  src/adapters/implementations/sns/sns.service.ts
  src/adapters/implementations/sqs/sqs.module.ts
  src/adapters/implementations/sqs/sqs.service.ts
  src/adapters/queue.ts
  src/adapters/topic.ts
  src/usecases/auth/auth.module.ts
  src/usecases/auth/auth.service.ts
  tests/mocks/adapters/sms.ts
  tests/mocks/adapters/topic.ts
  tests/src/usecases/auth.spec.ts
  yarn.lock
Due: bash -c "yarn lint:ts", bash -c "yarn lint:code"

Add ReadMe Deploy
  .github/workflows/openapi-deploy.yml
  README.md
Due: none

Add ReadMe Deploy (#42)
  .github/workflows/openapi-deploy.yml
  README.md
Due: none

Update docs about redocly
  README.md
  package.json
Due: none

Update docs about redocly (#43)
  README.md
  package.json
Due: none

requested modifications - pr
  package.json
  src/adapters/implementations/paseto/token.service.ts
  src/config.ts
  src/delivery/guards/auth.guard.ts
  tests/mocks/libs/paseto.ts
Due: bash -c "yarn lint:ts", bash -c "yarn lint:code"

Fix pr comments
  src/adapters/implementations/paseto/token.service.ts
  yarn.lock
Due: bash -c "yarn lint:ts", bash -c "yarn lint:code"

Fix tests
  .env.example
  .github/workflows/tests-validate.yml
  .vscode/settings.json
  scripts/id.ts
  scripts/paseto.ts
  src/adapters/date.ts
  src/adapters/implementations/paseto/paseto.module.ts
  src/adapters/implementations/paseto/paseto.service.ts
  src/adapters/token.ts
  src/config.ts
  src/delivery/decorators/user-data.ts
  src/main.ts
  src/repositories/postgres/refresh-token/refresh-token-repository.module.ts
  src/repositories/postgres/refresh-token/refresh-token-repository.service.ts
  src/usecases/auth/auth.module.ts
  src/usecases/auth/auth.service.ts
  tests/mocks/adapters/dayjs.ts
  tests/mocks/adapters/paseto.ts
  tests/mocks/config.ts
  tests/mocks/libs/paseto.ts
  tests/src/adapters/google.spec.ts
  tests/src/adapters/paseto.spec.ts
  tests/src/delivery/decorators/user-data.spec.ts
  tests/src/usecases/auth.spec.ts
Due: bash -c "yarn lint:ts", bash -c "yarn lint:code"

JWT to PASETO (#44)
  .env.example
  .github/workflows/tests-validate.yml
  .vscode/settings.json
  package.json
  scripts/id.ts
  scripts/paseto.ts
  src/adapters/date.ts
  src/adapters/implementations/jwt/token.module.ts
  src/adapters/implementations/jwt/token.service.ts
  src/adapters/implementations/paseto/paseto.module.ts
  src/adapters/implementations/paseto/paseto.service.ts
  src/adapters/token.ts
  src/config.ts
  src/delivery/decorators/user-data.ts
  src/delivery/guards/auth.guard.ts
  src/main.ts
  src/repositories/postgres/refresh-token/refresh-token-repository.module.ts
  src/repositories/postgres/refresh-token/refresh-token-repository.service.ts
  src/usecases/auth/auth.module.ts
  src/usecases/auth/auth.service.ts
  tests/mocks/adapters/dayjs.ts
  tests/mocks/adapters/paseto.ts
  tests/mocks/config.ts
  tests/mocks/libs/jsonwebtoken.ts
  tests/mocks/libs/paseto.ts
  tests/src/adapters/google.spec.ts
  tests/src/adapters/jwt.spec.ts
  tests/src/adapters/paseto.spec.ts
  tests/src/delivery/decorators/user-data.spec.ts
  tests/src/usecases/auth.spec.ts
  yarn.lock
Due: bash -c "yarn lint:ts", bash -c "yarn lint:code"

chore(add commitizen): add commitizen to standardize commit messages
  .czrc
  .husky/prepare-commit-msg
  README.md
  package.json
  pnpm-lock.yaml
  tsconfig.lint.json
Due: none

chore(add commitizen): add commitizen to standardize commit messages (#46)
  .czrc
  .husky/prepare-commit-msg
  README.md
  package.json
  pnpm-lock.yaml
  tsconfig.lint.json
Due: none

feat(auth): add facebook sign in/up
  .dockerignore
  .env.example
  .github/workflows/api-deploy.yml
  .github/workflows/dbdocs-deploy.yml
  .github/workflows/dbdocs-validate.yml
  .github/workflows/openapi-deploy.yml
  .github/workflows/openapi-validate.yml
  .github/workflows/prisma-validate.yml
  .github/workflows/tests-validate.yml
  .gitignore
  Dockerfile.dev
  README.md
  docker-compose.yml
  localstack/buckets.sh
  openapi/components/schemas/auth-with-external-provider.yaml
  openapi/openapi.yaml
  openapi/paths/auth/facebook.yaml
  package.json
  prisma/.env
  prisma/migrations/20240411010435_add_facebook_provider/migration.sql
  prisma/schema.prisma
  src/adapters/auth-provider.ts
  src/adapters/email.ts
  src/adapters/implementations/facebook/facebook.module.ts
  src/adapters/implementations/facebook/facebook.service.ts
  src/adapters/implementations/google/google.service.ts
  src/config.ts
  src/delivery/auth.controller.ts
  src/delivery/dtos/auth.ts
  src/models/auth.ts
  src/repositories/postgres/auth/auth-repository.service.ts
  src/usecases/auth/auth.module.ts
  src/usecases/auth/auth.service.ts
  tests/mocks/adapters/facebook.ts
  tests/mocks/repositories/postgres/auth.ts
  tests/mocks/repositories/postgres/budget.ts
  tests/src/usecases/auth.spec.ts
  tests/src/usecases/budget.spec.ts
  tests/utils.ts
  tsconfig.lint.json
Due: bash -c "yarn lint:openapi", bash -c "yarn openapi:postman", bash -c "yarn lint:prisma", bash -c "yarn lint:ts", bash -c "yarn lint:code"

feat(auth): add facebook sign in/up (#47)
  .dockerignore
  .env.example
  .github/workflows/api-deploy.yml
  .github/workflows/dbdocs-deploy.yml
  .github/workflows/dbdocs-validate.yml
  .github/workflows/openapi-deploy.yml
  .github/workflows/openapi-validate.yml
  .github/workflows/prisma-validate.yml
  .github/workflows/tests-validate.yml
  .gitignore
  Dockerfile.dev
  README.md
  docker-compose.yml
  localstack/buckets.sh
  openapi/components/schemas/auth-with-external-provider.yaml
  openapi/openapi.yaml
  openapi/paths/auth/facebook.yaml
  package.json
  prisma/.env
  prisma/migrations/20240411010435_add_facebook_provider/migration.sql
  prisma/schema.prisma
  src/adapters/auth-provider.ts
  src/adapters/email.ts
  src/adapters/implementations/facebook/facebook.module.ts
  src/adapters/implementations/facebook/facebook.service.ts
  src/adapters/implementations/google/google.service.ts
  src/config.ts
  src/delivery/auth.controller.ts
  src/delivery/dtos/auth.ts
  src/models/auth.ts
  src/repositories/postgres/auth/auth-repository.service.ts
  src/usecases/auth/auth.module.ts
  src/usecases/auth/auth.service.ts
  tests/mocks/adapters/facebook.ts
  tests/mocks/repositories/postgres/auth.ts
  tests/mocks/repositories/postgres/budget.ts
  tests/src/usecases/auth.spec.ts
  tests/src/usecases/budget.spec.ts
  tests/utils.ts
  tsconfig.lint.json
Due: bash -c "yarn lint:openapi", bash -c "yarn openapi:postman", bash -c "yarn lint:prisma", bash -c "yarn lint:ts", bash -c "yarn lint:code"

feat(auth): add facebook sign in/up (#49)
  .dockerignore
  .env.example
  .github/workflows/api-deploy.yml
  .github/workflows/dbdocs-deploy.yml
  .github/workflows/dbdocs-validate.yml
  .github/workflows/openapi-deploy.yml
  .github/workflows/openapi-validate.yml
  .github/workflows/prisma-validate.yml
  .github/workflows/tests-validate.yml
  .gitignore
  Dockerfile.dev
  README.md
  docker-compose.yml
  localstack/buckets.sh
  openapi/components/schemas/auth-with-external-provider.yaml
  openapi/openapi.yaml
  openapi/paths/auth/facebook.yaml
  package.json
  prisma/.env
  prisma/migrations/20240411010435_add_facebook_provider/migration.sql
  prisma/schema.prisma
  src/adapters/auth-provider.ts
  src/adapters/email.ts
  src/adapters/implementations/facebook/facebook.module.ts
  src/adapters/implementations/facebook/facebook.service.ts
  src/adapters/implementations/google/google.service.ts
  src/config.ts
  src/delivery/auth.controller.ts
  src/delivery/dtos/auth.ts
  src/models/auth.ts
  src/repositories/postgres/auth/auth-repository.service.ts
  src/usecases/auth/auth.module.ts
  src/usecases/auth/auth.service.ts
  tests/mocks/adapters/facebook.ts
  tests/mocks/repositories/postgres/auth.ts
  tests/mocks/repositories/postgres/budget.ts
  tests/src/usecases/auth.spec.ts
  tests/src/usecases/budget.spec.ts
  tests/utils.ts
  tsconfig.lint.json
Due: bash -c "yarn lint:openapi", bash -c "yarn openapi:postman", bash -c "yarn lint:prisma", bash -c "yarn lint:ts", bash -c "yarn lint:code"

chore(docker): fix hot reload
  Dockerfile.dev
  docker-compose.yml
  package.json
  tsconfig.json
Due: none

chore(docker): fix hot reload (#50)
  Dockerfile.dev
  docker-compose.yml
  package.json
  tsconfig.json
Due: none

feat(salary-onboarding): remove salary and onboarding
  prisma/migrations/20240412092006_remove_salary_onboarding/migration.sql
  prisma/schema.prisma
  src/delivery/account.controller.ts
  src/models/account.ts
  src/models/salary.ts
  src/repositories/postgres/account/account-repository.module.ts
  src/repositories/postgres/account/account-repository.service.ts
  src/repositories/postgres/auth/auth-repository.service.ts
  src/usecases/account/account.module.ts
  src/usecases/account/account.service.ts
  src/usecases/salary/salary.module.ts
  src/usecases/salary/salary.service.ts
  tests/mocks/repositories/postgres/account.ts
  tests/mocks/usecases/account.ts
  tests/src/usecases/budget.spec.ts
Due: bash -c "yarn lint:prisma", bash -c "yarn lint:ts", bash -c "yarn lint:code"

feat(salary-onboarding): remove salary and onboarding (#51)
  prisma/migrations/20240412092006_remove_salary_onboarding/migration.sql
  prisma/schema.prisma
  src/delivery/account.controller.ts
  src/models/account.ts
  src/models/salary.ts
  src/repositories/postgres/account/account-repository.module.ts
  src/repositories/postgres/account/account-repository.service.ts
  src/repositories/postgres/auth/auth-repository.service.ts
  src/usecases/account/account.module.ts
  src/usecases/account/account.service.ts
  src/usecases/salary/salary.module.ts
  src/usecases/salary/salary.service.ts
  tests/mocks/repositories/postgres/account.ts
  tests/mocks/usecases/account.ts
  tests/src/usecases/budget.spec.ts
Due: bash -c "yarn lint:prisma", bash -c "yarn lint:ts", bash -c "yarn lint:code"

chore(readme) update deps and docs
  README.md
  package.json
  pnpm-lock.yaml
Due: none

chore(readme) update deps and docs (#52)
  README.md
  package.json
  pnpm-lock.yaml
Due: none

chore: add script to execute docker-compose with detach in SO macos
  package.json
Due: none
