Repository econominhas/backend: changes, and which lint-staged commands are due for each by the changed paths.
All: bash -c "yarn lint:openapi", bash -c "yarn openapi:postman", bash -c "yarn lint:prisma", bash -c "yarn lint:ts", bash -c "yarn lint:code"

Add tests for dayjs module
  .lintstagedrc
  jest.config.json
  package.json
  src/adapters/date.ts
  src/adapters/implementations/dayjs/dayjs.service.ts
  tests/mocks/repositories/postgres/repository.ts
  tests/setup.ts
  tests/src/adapters/dayjs.spec.ts
  yarn.lock
Due: bash -c "yarn lint:ts", bash -c "yarn lint:code"

Add GoogleAdapter tests
  src/adapters/implementations/google/google.module.ts
  src/adapters/implementations/google/google.service.ts
  tests/mocks/config.ts
  tests/mocks/libs/axios.ts
  tests/src/adapters/dayjs.spec.ts
  tests/src/adapters/google.spec.ts
  tests/utils.ts
Due: bash -c "yarn lint:ts", bash -c "yarn lint:code"

Add tests to JWTAdapter and UIDAdapter
  jest.config.json
  src/adapters/implementations/jwt/token.module.ts
  src/adapters/implementations/jwt/token.service.ts
  src/adapters/implementations/uid/uid.module.ts
  src/adapters/implementations/uid/uid.service.ts
  tests/mocks/config.ts
  tests/mocks/libs/jsonwebtoken.ts
  tests/src/adapters/dayjs.spec.ts
  tests/src/adapters/jwt.spec.ts
  tests/src/adapters/uid.spec.ts
Due: bash -c "yarn lint:ts", bash -c "yarn lint:code"

Add tests to UtilsAdapter
  src/adapters/implementations/utils/utils.service.ts
  tests/src/adapters/utils.spec.ts
Due: bash -c "yarn lint:ts", bash -c "yarn lint:code"

Add tests pipeline
  .github/workflows/tests-validate.yml
  .lintstagedrc
  jest.config.json
Due: none

Add delivery Decorators and Guards tests
  src/delivery/decorators/user-data.ts
  tests/src/delivery/decorators/user-data.spec.ts
  tests/src/delivery/guards/auth.spec.ts
Due: bash -c "yarn lint:ts", bash -c "yarn lint:code"

Add tests to AccountService
  jest.config.json
  src/usecases/account/account.service.ts
  tests/mocks/libs/axios.ts
  tests/mocks/libs/jsonwebtoken.ts
  tests/mocks/repositories/postgres/account.ts
  tests/mocks/repositories/postgres/core.ts
  tests/mocks/repositories/postgres/repository.ts
  tests/mocks/types.ts
  tests/src/adapters/google.spec.ts
  tests/src/adapters/jwt.spec.ts
  tests/src/delivery/decorators/user-data.spec.ts
  tests/src/usecases/account.spec.ts
  tests/utils.ts
Due: bash -c "yarn lint:ts", bash -c "yarn lint:code"

Improve services and modules initialization testing
  tests/src/adapters/dayjs.spec.ts
  tests/src/adapters/google.spec.ts
  tests/src/adapters/jwt.spec.ts
  tests/src/adapters/uid.spec.ts
  tests/src/adapters/utils.spec.ts
  tests/utils.ts
Due: none

Add tests to AuthService
  src/adapters/implementations/jwt/token.service.ts
  src/adapters/token.ts
  src/delivery/guards/auth.guard.ts
  src/repositories/postgres/refresh-token/refresh-token-repository.service.ts
  src/usecases/auth/auth.service.ts
  tests/mocks/adapters/email.ts
  tests/mocks/adapters/google.ts
  tests/mocks/adapters/sms.ts
  tests/mocks/adapters/token.ts
  tests/mocks/repositories/postgres/account.ts
  tests/mocks/repositories/postgres/auth.ts
  tests/mocks/repositories/postgres/magic-link-code.ts
  tests/mocks/repositories/postgres/refresh-token.ts
  tests/mocks/types.ts
  tests/mocks/usecases/terms.ts
  tests/src/usecases/account.spec.ts
  tests/src/usecases/auth.spec.ts
Due: bash -c "yarn lint:ts", bash -c "yarn lint:code"

Add Onboarding
  openapi/openapi.yaml
  openapi/paths/accounts/onboarding.yaml
  prisma/migrations/20240126161003_onboarding/migration.sql
  prisma/schema.prisma
  src/adapters/date.ts
  src/adapters/implementations/dayjs/dayjs.service.ts
  src/delivery/account.controller.ts
  src/delivery/dtos/account.ts
  src/delivery/dtos/bank.ts
  src/delivery/dtos/card.ts
  src/delivery/validators/miscellaneous.ts
  src/models/account.ts
  src/repositories/postgres/account/account-repository.module.ts
  src/repositories/postgres/account/account-repository.service.ts
  src/repositories/postgres/auth/auth-repository.service.ts
  src/repositories/postgres/budget/budget-repository.service.ts
  src/usecases/account/account.module.ts
  src/usecases/account/account.service.ts
  tests/mocks/repositories/postgres/account.ts
  tests/src/usecases/account.spec.ts
Due: bash -c "yarn lint:openapi", bash -c "yarn openapi:postman", bash -c "yarn lint:prisma", bash -c "yarn lint:ts", bash -c "yarn lint:code"

Update README
  README.md
Due: none

Refact RecurrentTransactions
  package.json
  prisma/migrations/20240129021502_delete_recurrent_transactions/migration.sql
  prisma/migrations/20240129023712_refact_recurrent_transaction/migration.sql
  prisma/schema.prisma
  src/adapters/date.ts
  src/adapters/implementations/dayjs/dayjs.service.ts
  src/app.module.ts
  src/delivery/recurrent-transaction.controller.ts
  src/models/budget.ts
  src/models/recurrent-transaction.ts
  src/models/transaction.ts
  src/repositories/postgres/recurrent-transaction/recurrent-transaction-repository.service.ts
  src/repositories/postgres/transaction/transaction-repository.service.ts
  src/usecases/budget/budget.service.ts
  src/usecases/recurrent-transaction/recurrent-transaction.module.ts
  src/usecases/recurrent-transaction/recurrent-transaction.service.ts
  src/usecases/recurrent-transaction/utils/formula/formula.module.ts
  src/usecases/recurrent-transaction/utils/formula/formula.service.ts
  src/usecases/recurrent-transaction/utils/matching-dates/matching-dates.module.ts
  src/usecases/recurrent-transaction/utils/matching-dates/matching-dates.service.ts
  src/usecases/transaction/transaction.service.ts
  yarn.lock
Due: bash -c "yarn lint:prisma", bash -c "yarn lint:ts", bash -c "yarn lint:code"

Add BankProvider & CardProviders seeds
  .vscode/settings.json
  appspec.yml
  package.json
  prisma/migrations/20240131183647_improve_providers/migration.sql
  prisma/schema.prisma
  prisma/seeds/bank-providers.ts
  prisma/seeds/card-providers.ts
  prisma/seeds/data/bank-providers/banks.ts
  prisma/seeds/data/bank-providers/digital-wallet.ts
  prisma/seeds/data/card-providers/credit/banco-do-brasil.ts
  prisma/seeds/data/card-providers/credit/bradesco.ts
  prisma/seeds/data/card-providers/credit/btg.ts
  prisma/seeds/data/card-providers/credit/c6.ts
  prisma/seeds/data/card-providers/credit/caixa.ts
  prisma/seeds/data/card-providers/credit/inter.ts
  prisma/seeds/data/card-providers/credit/itau.ts
  prisma/seeds/data/card-providers/credit/nubank.ts
  prisma/seeds/data/card-providers/credit/original.ts
  prisma/seeds/data/card-providers/credit/picpay.ts
  prisma/seeds/data/card-providers/credit/safra.ts
  prisma/seeds/data/card-providers/credit/santander.ts
  prisma/seeds/data/card-providers/credit/sicoob.ts
  prisma/seeds/data/card-providers/credit/votorantim.ts
  prisma/seeds/data/card-providers/va/alelo.ts
  prisma/seeds/data/card-providers/va/pluxee.ts
  prisma/seeds/data/card-providers/va/ticket.ts
  prisma/seeds/data/card-providers/va/vr.ts
  prisma/seeds/index.ts
  scripts/ci-cd/build.sh
  scripts/ci-cd/prepare.sh
  scripts/ci-cd/start.sh
  scripts/ci-cd/stop.sh
  scripts/ci-cd/validate.sh
  scripts/id.ts
  src/models/card.ts
  src/repositories/postgres/card/card-repository.service.ts
  src/usecases/card/card.service.ts
  src/usecases/wallet/wallet.service.ts
Due: bash -c "yarn lint:prisma", bash -c "yarn lint:ts", bash -c "yarn lint:code"

Partially add salary
  README.md
  prisma/migrations/20240219013610_refact_salary/migration.sql
  prisma/schema.prisma
  src/models/account.ts
  src/models/salary.ts
  src/repositories/postgres/account/account-repository.service.ts
  src/types/enums/rt-template.ts
  src/usecases/account/account.service.ts
  src/usecases/salary/salary.module.ts
  src/usecases/salary/salary.service.ts
Due: bash -c "yarn lint:prisma", bash -c "yarn lint:ts", bash -c "yarn lint:code"

Partially add salary (#6)
  README.md
  prisma/migrations/20240219013610_refact_salary/migration.sql
  prisma/schema.prisma
  src/models/account.ts
  src/models/salary.ts
  src/repositories/postgres/account/account-repository.service.ts
  src/types/enums/rt-template.ts
  src/usecases/account/account.service.ts
  src/usecases/salary/salary.module.ts
  src/usecases/salary/salary.service.ts
Due: bash -c "yarn lint:prisma", bash -c "yarn lint:ts", bash -c "yarn lint:code"

Add manual deploy button
  .github/workflows/api-deploy.yml
Due: none

Fix build script
  scripts/ci-cd/build.sh
Due: none

chore: add validation on localstack/buckets.sh
  localstack/buckets.sh
Due: none

fix: resolve prisma suport to open ssl 3
  prisma/schema.prisma
Due: bash -c "yarn lint:prisma"

fix: resolve docker network issue
  docker-compose.yml
Due: none

Add final new line
  localstack/buckets.sh
Due: none

chore: add validation on localstack/buckets.sh (#28)
  localstack/buckets.sh
Due: none

fix: resolve prisma suport to open ssl 3 (#31)
  prisma/schema.prisma
Due: bash -c "yarn lint:prisma"

application setup instructions in the readme
  README.md
Due: none

fix: resolve docker network issue (#33)
  docker-compose.yml
Due: none

Add OpenAPI docs
  openapi/openapi.yaml
  openapi/paths/auth/google.yaml
  openapi/paths/auth/google/sign-in.yaml
  openapi/paths/auth/google/sign-up.yaml
Due: bash -c "yarn lint:openapi", bash -c "yarn openapi:postman"

Update src and tests
  src/delivery/auth.controller.ts
  src/delivery/dtos/auth.ts
  src/models/auth.ts
  src/usecases/auth/auth.service.ts
  tests/src/usecases/auth.spec.ts
Due: bash -c "yarn lint:ts", bash -c "yarn lint:code"

review
  .env.example
  README.md
Due: none

adjust setup app
  README.md
Due: none

change host url db
  .env.example
Due: none

feat: inclusion of CostType in the default_categories table
  prisma/schema.prisma
Due: bash -c "yarn lint:prisma"

test: Add tests for budget-related use cases
  tests/mocks/adapters/dayjs.ts
  tests/mocks/repositories/postgres/budget.ts
  tests/mocks/repositories/postgres/category.ts
  tests/mocks/repositories/postgres/transaction.ts
  tests/mocks/usecases/account.ts
  tests/src/usecases/budget.spec.ts
Due: none

test: add description
  tests/src/usecases/budget.spec.ts
Due: none

remove import
  tests/src/usecases/budget.spec.ts
Due: none

adjust filter budget by category and items formatted
  src/usecases/budget/budget.service.ts
Due: bash -c "yarn lint:ts", bash -c "yarn lint:code"

feat: inclusion of CostType in the default_categories table (#36)
  prisma/schema.prisma
Due: bash -c "yarn lint:prisma"

outputs for mocks
  tests/mocks/repositories/postgres/budget.ts
  tests/mocks/repositories/postgres/category.ts
  tests/mocks/repositories/postgres/transaction.ts
  tests/mocks/usecases/account.ts
Due: none

refactoring in test cases
  tests/src/usecases/budget.spec.ts
Due: none

Path conditions:
  bash -c "yarn lint:openapi": any of: openapi/**/*
  bash -c "yarn openapi:postman": any of: openapi/**/*
  bash -c "yarn lint:prisma": any of: prisma/**/*
  bash -c "yarn lint:ts": any of: src/**/*
  bash -c "yarn lint:code": any of: src/**/*
