Repository econominhas/backend: changes, and which lint-staged commands are due for each by the changed paths.
All: bash -c "yarn lint:openapi", bash -c "yarn lint:prisma", bash -c "yarn lint:ts", bash -c "yarn lint:code"

.lintstagedrc:

{
	"openapi/*": "bash -c \"yarn lint:openapi\"",
	"prisma/*": "bash -c \"yarn lint:prisma\"",
	"src/*": ["bash -c \"yarn lint:ts\"", "bash -c \"yarn lint:code\""]
}

Add route to create user's salary
  .lintstagedrc
  .vscode/settings.json
  package.json
  prisma/schema.prisma
  src/app.module.js
  src/app.module.ts
  src/delivery/dtos/recurrent-transaction.ts
  src/delivery/recurrent-transaction.controller.ts
  src/models/recurrent-transaction.ts
  src/repositories/postgres/recurrent-transaction/recurrent-transaction-repository.module.ts
  src/repositories/postgres/recurrent-transaction/recurrent-transaction-repository.service.ts
  src/usecases/recurrent-transaction/recurrent-transaction.module.ts
  src/usecases/recurrent-transaction/recurrent-transaction.service.ts
Due: bash -c "yarn lint:prisma", bash -c "yarn lint:ts", bash -c "yarn lint:code"

Add timezone to JWT
  src/adapters/implementations/token.service.ts
  src/adapters/token.ts
  src/delivery/decorators/user-data.ts
  src/models/magic-link-code.ts
  src/models/refresh-token.ts
  src/repositories/postgres/magic-link-code/magic-link-code-repository.service.ts
  src/repositories/postgres/refresh-token/refresh-token-repository.service.ts
  src/usecases/auth/auth.module.ts
  src/usecases/auth/auth.service.ts
Due: none

Add SMS Adapter
  package.json
  src/adapters/implementations/sns.service.ts
  src/adapters/sms.ts
  src/app.module.js
  src/usecases/auth/auth.module.ts
  src/usecases/auth/auth.service.ts
  yarn.lock
Due: bash -c "yarn lint:ts", bash -c "yarn lint:code"

Convert Adapters To Abstract Classes
  src/adapters/email.ts
  src/adapters/file.ts
  src/adapters/id.ts
  src/adapters/implementations/s3.service.ts
  src/adapters/implementations/ses.service.ts
  src/adapters/implementations/uid-secret.service.ts
  src/adapters/implementations/uid.service.ts
  src/adapters/implementations/utils.service.ts
  src/adapters/secret.ts
  src/adapters/utils.ts
  src/repositories/postgres/auth/auth-repository.service.ts
  src/repositories/postgres/bank/bank-repository.service.ts
  src/repositories/postgres/budget/budget-repository.service.ts
  src/repositories/postgres/card/card-repository.service.ts
  src/repositories/postgres/category/category-repository.service.ts
  src/repositories/postgres/magic-link-code/magic-link-code-repository.module.ts
  src/repositories/postgres/magic-link-code/magic-link-code-repository.service.ts
  src/repositories/postgres/recurrent-transaction/recurrent-transaction-repository.service.ts
Due: none

Add PostgresModule.raw to allow raw queries
  .lintstagedrc
  src/repositories/postgres/core.ts
  src/repositories/postgres/index.ts
Due: none

Add BudgetRepository.getMonthlyBudgetByCategory
  package.json
  src/adapters/date.ts
  src/adapters/implementations/dayjs.service.ts
  src/models/budget.ts
  src/repositories/postgres/budget/budget-repository.module.ts
  src/repositories/postgres/budget/budget-repository.service.ts
  src/repositories/postgres/index.ts
  yarn.lock
Due: none

Add BudgetDate
  prisma/schema.prisma
  src/delivery/dtos/budget.ts
  src/models/budget.ts
  src/repositories/postgres/budget/budget-repository.module.ts
  src/repositories/postgres/budget/budget-repository.service.ts
  src/usecases/budget/budget.service.ts
Due: bash -c "yarn lint:prisma"

Add TransactionRepository.getMonthlyAmountByCategory
  src/models/budget.ts
  src/models/transaction.ts
  src/repositories/postgres/budget/budget-repository.service.ts
  src/repositories/postgres/transaction/transaction-repository.module.ts
  src/repositories/postgres/transaction/transaction-repository.service.ts
Due: none

Add BudgetUseCase.overview
  openapi/components/entities/Category.yaml
  openapi/openapi.yaml
  openapi/paths/budgets/overview.yaml
  src/delivery/budget.controller.ts
  src/delivery/dtos/budget.ts
  src/models/budget.ts
  src/models/category.ts
  src/models/transaction.ts
  src/repositories/postgres/budget/budget-repository.module.ts
  src/repositories/postgres/budget/budget-repository.service.ts
  src/repositories/postgres/category/category-repository.service.ts
  src/repositories/postgres/transaction/transaction-repository.module.ts
  src/repositories/postgres/transaction/transaction-repository.service.ts
  src/usecases/budget/budget.module.ts
  src/usecases/budget/budget.service.ts
Due: bash -c "yarn lint:openapi"

Add WalletUseCase.balanceOverview
  openapi/openapi.yaml
  openapi/paths/wallet/balance.yaml
  src/app.module.ts
  src/delivery/bank.controller.ts
  src/delivery/wallet.controller.ts
  src/models/bank.ts
  src/models/card.ts
  src/models/wallet.ts
  src/repositories/postgres/bank/bank-repository.service.ts
  src/repositories/postgres/card/card-repository.service.ts
  src/usecases/wallet/wallet.module.ts
  src/usecases/wallet/wallet.service.ts
Due: bash -c "yarn lint:openapi", bash -c "yarn lint:ts", bash -c "yarn lint:code"

Add TransactionUseCase.getList
  .vscode/extensions.json
  openapi/components/fields/transaction-type.yaml
  openapi/openapi.yaml
  openapi/paths/transactions/index.yaml
  prisma/schema.prisma
  src/app.module.ts
  src/delivery/dtos/transaction.ts
  src/delivery/transaction.controller.ts
  src/models/transaction.ts
  src/repositories/postgres/card/card-repository.module.ts
  src/repositories/postgres/transaction/transaction-repository.service.ts
  src/usecases/transaction/transaction.module.ts
  src/usecases/transaction/transaction.service.ts
Due: bash -c "yarn lint:openapi", bash -c "yarn lint:prisma", bash -c "yarn lint:ts", bash -c "yarn lint:code"

Add more budget info to BudgetUseCase.overview
  openapi/paths/budgets/overview.yaml
  src/models/budget.ts
  src/usecases/budget/budget.service.ts
Due: none

Fix Google login
  README.md
  src/adapters/google.ts
  src/adapters/implementations/google.service.ts
  src/delivery/dtos/auth.ts
  src/models/auth.ts
Due: none

Remove timezone
  openapi/components/fields/timezone.yaml
  openapi/components/schemas/auth-with-3rd-party.yaml
  openapi/paths/auth/email.yaml
  openapi/paths/auth/phone.yaml
  prisma/schema.prisma
  src/adapters/date.ts
  src/adapters/implementations/dayjs.service.ts
  src/adapters/implementations/token.service.ts
  src/adapters/token.ts
  src/delivery/decorators/user-data.ts
  src/delivery/dtos/auth.ts
  src/models/auth.ts
  src/models/magic-link-code.ts
  src/models/refresh-token.ts
  src/repositories/postgres/auth/auth-repository.service.ts
  src/repositories/postgres/magic-link-code/magic-link-code-repository.service.ts
  src/repositories/postgres/refresh-token/refresh-token-repository.service.ts
  src/types/enums.ts
  src/usecases/auth/auth.service.ts
Due: bash -c "yarn lint:prisma"

Add postman schema
  .gitignore
  .lintstagedrc
  openapi/postman.json
  package.json
  yarn.lock
Due: bash -c "yarn lint:openapi"

Fix query params type
  src/delivery/dtos/budget.ts
Due: none

Add ConfigModule
  package.json
  src/adapters/implementations/google/google.module.ts
  src/adapters/implementations/google/google.service.ts
  src/adapters/implementations/jwt/token.module.ts
  src/adapters/implementations/jwt/token.service.ts
  src/adapters/implementations/s3/s3.service.ts
  src/adapters/implementations/ses/ses.module.ts
  src/adapters/implementations/ses/ses.service.ts
  src/adapters/implementations/sns/sns.module.ts
  src/adapters/implementations/sns/sns.service.ts
  src/adapters/token.ts
  src/app.module.ts
  src/config.ts
  src/delivery/guards/auth.guard.ts
  src/main.ts
  yarn.lock
Due: bash -c "yarn lint:ts", bash -c "yarn lint:code"

Add Card Bill
  .dockerignore
  .env.example
  .github/workflows/dbdocs-deploy.yml
  .github/workflows/dbdocs-validate.yml
  .github/workflows/openapi-validate.yml
  .github/workflows/prisma-validate.yml
  Dockerfile.dev
  docker-compose.yml
  nest-cli.json
  openapi/components/fields/pay-at.yaml
  openapi/components/fields/transaction-type.yaml
  openapi/paths/cards/index.yaml
  openapi/postman.json
  package.json
  prisma/migrations/20231214103016_card_bill/migration.sql
  prisma/migrations/20231214103129_card_bill/migration.sql
  prisma/schema.prisma
  scripts/build.sh
  src/adapters/date.ts
  src/adapters/implementations/dayjs/dayjs.service.ts
  src/config.ts
  src/delivery/dtos/card.ts
  src/models/card.ts
  src/models/recurrent-transaction.ts
  src/repositories/postgres/card/card-repository.service.ts
  src/repositories/postgres/recurrent-transaction/recurrent-transaction-repository.service.ts
  src/types/enums.ts
  src/types/enums/pay-at.ts
  src/types/enums/timezone.ts
  src/usecases/card/card.module.ts
  src/usecases/card/card.service.ts
  src/usecases/recurrent-transaction/recurrent-transaction.service.ts
Due: bash -c "yarn lint:openapi", bash -c "yarn lint:prisma", bash -c "yarn lint:ts", bash -c "yarn lint:code"

Add Card Bill (#4)
  .dockerignore
  .env.example
  .github/workflows/dbdocs-deploy.yml
  .github/workflows/dbdocs-validate.yml
  .github/workflows/openapi-validate.yml
  .github/workflows/prisma-validate.yml
  Dockerfile.dev
  docker-compose.yml
  nest-cli.json
  openapi/components/fields/pay-at.yaml
  openapi/components/fields/transaction-type.yaml
  openapi/paths/cards/index.yaml
  openapi/postman.json
  package.json
  prisma/migrations/20231214103016_card_bill/migration.sql
  prisma/migrations/20231214103129_card_bill/migration.sql
  prisma/schema.prisma
  scripts/build.sh
  src/adapters/date.ts
  src/adapters/implementations/dayjs/dayjs.service.ts
  src/config.ts
  src/delivery/dtos/card.ts
  src/models/card.ts
  src/models/recurrent-transaction.ts
  src/repositories/postgres/card/card-repository.service.ts
  src/repositories/postgres/recurrent-transaction/recurrent-transaction-repository.service.ts
  src/types/enums.ts
  src/types/enums/pay-at.ts
  src/types/enums/timezone.ts
  src/usecases/card/card.module.ts
  src/usecases/card/card.service.ts
  src/usecases/recurrent-transaction/recurrent-transaction.service.ts
Due: bash -c "yarn lint:openapi", bash -c "yarn lint:prisma", bash -c "yarn lint:ts", bash -c "yarn lint:code"

Add route to get all cards bills
  src/adapters/date.ts
  src/adapters/implementations/dayjs/dayjs.service.ts
  src/delivery/card.controller.ts
  src/models/card.ts
  src/models/transaction.ts
  src/repositories/postgres/card/card-repository.service.ts
  src/repositories/postgres/transaction/transaction-repository.service.ts
  src/usecases/card/card.module.ts
  src/usecases/card/card.service.ts
Due: none

Add CardRepository.getPostpaid
  prisma/schema.prisma
  src/models/card.ts
  src/models/recurrent-transaction.ts
  src/repositories/postgres/card/card-repository.service.ts
  src/repositories/postgres/recurrent-transaction/recurrent-transaction-repository.service.ts
  src/usecases/recurrent-transaction/recurrent-transaction.service.ts
Due: bash -c "yarn lint:prisma"

Remove recurrent transaction for card bills
  openapi/paths/cards/index.yaml
  prisma/schema.prisma
  src/delivery/dtos/card.ts
  src/models/card.ts
  src/models/recurrent-transaction.ts
  src/repositories/postgres/card/card-repository.service.ts
  src/types/enums/pay-at.ts
  src/usecases/card/card.module.ts
  src/usecases/card/card.service.ts
  src/usecases/recurrent-transaction/recurrent-transaction.service.ts
Due: bash -c "yarn lint:prisma"

Add route to get postpaid cards
  openapi/components/entities/CardPostpaid.yaml
  openapi/components/fields/due-date.yaml
  openapi/components/fields/end-date.yaml
  openapi/components/fields/start-date.yaml
  openapi/components/fields/statement-date.yaml
  openapi/components/schemas/pagination-params.yaml
  openapi/openapi.yaml
  openapi/paths/cards/index.yaml
  openapi/paths/cards/postpaid.yaml
  openapi/paths/cards/providers.yaml
  openapi/postman.json
  src/delivery/card.controller.ts
  src/delivery/dtos/card.ts
  src/models/card.ts
  src/repositories/postgres/card/card-repository.service.ts
  src/usecases/card/card.service.ts
Due: bash -c "yarn lint:openapi"

Add route to get card bills to be paid
  openapi/components/entities/CardGetBillsToBePaid.yaml
  openapi/openapi.yaml
  openapi/paths/cards/bills.yaml
  openapi/paths/cards/index.yaml
  openapi/paths/cards/providers.yaml
  src/adapters/date.ts
  src/adapters/implementations/dayjs/dayjs.service.ts
  src/delivery/card.controller.ts
  src/delivery/dtos/card.ts
  src/models/card.ts
  src/repositories/postgres/card/card-repository.service.ts
  src/usecases/card/card.module.ts
  src/usecases/card/card.service.ts
Due: bash -c "yarn lint:openapi"

CHORE: Update local config
  .gitignore
  openapi/postman.json
  package.json
Due: bash -c "yarn lint:openapi"

Add route to get prepaid cards
  openapi/components/entities/CardPrepaid.yaml
  openapi/openapi.yaml
  openapi/paths/cards/bills.yaml
  openapi/paths/cards/postpaid.yaml
  openapi/paths/cards/prepaid.yaml
  src/delivery/card.controller.ts
  src/models/card.ts
  src/repositories/postgres/card/card-repository.service.ts
  src/usecases/card/card.service.ts
Due: bash -c "yarn lint:openapi"

Add CardRepository.updateBalance
  src/models/card.ts
  src/repositories/postgres/card/card-repository.service.ts
Due: none

CHORE: Remove unnecessary Transform
  src/config.ts
  src/delivery/dtos/budget.ts
  src/delivery/dtos/index.ts
Due: bash -c "yarn lint:ts", bash -c "yarn lint:code"

Add route to get user categories
  openapi/paths/categories/index.yaml
  src/delivery/category.controller.ts
  src/delivery/dtos/category.ts
  src/models/category.ts
  src/repositories/postgres/category/category-repository.service.ts
  src/usecases/budget/budget.service.ts
  src/usecases/category/category.service.ts
Due: none

Add route to get user bank accounts
  openapi/paths/banks/accounts/index.yaml
  src/config.ts
  src/delivery/bank.controller.ts
  src/models/bank.ts
  src/repositories/postgres/bank/bank-repository.service.ts
  src/repositories/postgres/card/card-repository.service.ts
  src/usecases/bank/bank.service.ts
Due: bash -c "yarn lint:ts", bash -c "yarn lint:code"

Add route to create TRANSFER transaction
  openapi/components/fields/created-at.yaml
  openapi/openapi.yaml
  openapi/paths/transactions/transfer.yaml
  src/delivery/dtos/transaction.ts
  src/delivery/transaction.controller.ts
  src/models/bank.ts
  src/models/budget.ts
  src/models/transaction.ts
  src/repositories/postgres/bank/bank-repository.service.ts
  src/repositories/postgres/budget/budget-repository.module.ts
  src/repositories/postgres/budget/budget-repository.service.ts
  src/repositories/postgres/transaction/transaction-repository.module.ts
  src/repositories/postgres/transaction/transaction-repository.service.ts
  src/usecases/bank/bank.service.ts
  src/usecases/transaction/transaction.module.ts
  src/usecases/transaction/transaction.service.ts
Due: bash -c "yarn lint:openapi"

Add CI/CD
  .env.example
  .github/workflows/api-deploy.yml
  .github/workflows/dbdocs-deploy.yml
  .github/workflows/dbdocs-validate.yml
  .github/workflows/openapi-validate.yml
  .github/workflows/prisma-validate.yml
  appspec.yml
  scripts/build.sh
  scripts/cd-prepare.sh
  scripts/cd-start.sh
  scripts/cd-stop.sh
  scripts/cd-validate.sh
  src/adapters/implementations/s3/s3.service.ts
  src/adapters/implementations/ses/ses.service.ts
  src/adapters/implementations/sns/sns.service.ts
  src/config.ts
Due: bash -c "yarn lint:ts", bash -c "yarn lint:code"

Fix Google SignIn
  package.json
  prisma/migrations/20240117032215_account_config_relationship/migration.sql
  prisma/migrations/20240117033028_sign_in_provider_length/migration.sql
  prisma/schema.prisma
  src/adapters/implementations/google/google.service.ts
  src/delivery/auth.controller.ts
  src/models/transaction.ts
  src/repositories/postgres/auth/auth-repository.service.ts
  src/repositories/postgres/transaction/transaction-repository.service.ts
  src/usecases/auth/auth.service.ts
  src/usecases/terms-and-policies/terms-and-policies.service.ts
  src/usecases/transaction/transaction.service.ts
  yarn.lock
Due: bash -c "yarn lint:prisma"

Add API versioning
  openapi/openapi.yaml
  openapi/paths/transactions/index.yaml
  src/delivery/budget.controller.ts
  src/main.ts
Due: bash -c "yarn lint:openapi", bash -c "yarn lint:ts", bash -c "yarn lint:code"

Add release branch
  .github/workflows/api-deploy.yml
  .github/workflows/dbdocs-deploy.yml
Due: none

Add In-Out transaction creation
  openapi/components/fields/transaction-name.yaml
  openapi/openapi.yaml
  openapi/paths/transactions/in-out.yaml
  src/delivery/dtos/transaction.ts
  src/delivery/transaction.controller.ts
  src/delivery/validators/internal.ts
  src/models/bank.ts
  src/models/category.ts
  src/models/transaction.ts
  src/repositories/postgres/bank/bank-repository.service.ts
  src/repositories/postgres/category/category-repository.service.ts
  src/repositories/postgres/transaction/transaction-repository.service.ts
  src/usecases/bank/bank.service.ts
  src/usecases/transaction/transaction.module.ts
  src/usecases/transaction/transaction.service.ts
Due: bash -c "yarn lint:openapi"

Add method to create cardBills
  src/adapters/date.ts
  src/adapters/implementations/dayjs/dayjs.service.ts
  src/adapters/implementations/google/google.service.ts
  src/models/card.ts
  src/repositories/postgres/card/card-repository.module.ts
  src/repositories/postgres/card/card-repository.service.ts
  src/usecases/card/card.service.ts
Due: none

Add method to create CREDIT transactions
  openapi/openapi.yaml
  openapi/paths/transactions/credit.yaml
  package.json
  prisma/migrations/20240124030836_add_date_to_budget_date/migration.sql
  prisma/schema.prisma
  src/adapters/date.ts
  src/adapters/implementations/dayjs/dayjs.service.ts
  src/delivery/dtos/transaction.ts
  src/delivery/transaction.controller.ts
  src/models/budget.ts
  src/models/card.ts
  src/models/transaction.ts
  src/repositories/postgres/budget/budget-repository.module.ts
  src/repositories/postgres/budget/budget-repository.service.ts
  src/repositories/postgres/card/card-repository.module.ts
  src/repositories/postgres/card/card-repository.service.ts
  src/repositories/postgres/transaction/transaction-repository.service.ts
  src/usecases/budget/budget.module.ts
  src/usecases/budget/budget.service.ts
  src/usecases/card/card.service.ts
  src/usecases/transaction/transaction.module.ts
  src/usecases/transaction/transaction.service.ts
Due: bash -c "yarn lint:openapi", bash -c "yarn lint:prisma"
